@import '../../../common/style/comm';
//列表
.list{
    display:flex;
    border-bottom:1px solid #e7e7e7;
    padding:px2rem(20) px2rem(16);
    .list-left{
        flex:1.0;
    }
    .list-right{
        text-align:right;
        width:px2rem(200);
    }
    .p-max{
        margin-bottom:px2rem(15);
        a{
            @include font-dpr(13px);
            color:$color_0;
            text-decoration: none;
        }
    }
    .p-middle{
        margin-bottom:px2rem(15);
        color:$color_b;
        a{
            @include font-dpr(12px);
            color:$color_b;
            text-decoration: none;
        }
    }
    .p-min{
        margin-bottom:px2rem(15);
        color:$color_b;
        a{
            @include font-dpr(12px);
            color:$color_b;
            text-decoration: none;
        }
    }
    .t-d-btn{
        display:inline-block;
        border-radius:px2rem(6);
        color:#fff;
        background:red;
        padding:px2rem(10) px2rem(20);
        text-decoration: none;
        @include font-dpr(14px);
    }
}
.load-more{
    height:px2rem(80);
    display:flex;
    align-items:center;
    justify-content: center;
}
.detail-head{
    padding:px2rem(15) px2rem(15) 0;
    @include font-dpr(13px);
    .item{
        margin-bottom:px2rem(10);
        display:flex;
        align-items:center;
        span{
            display:block;
        }
        .font-icon{
            color:#fff;
            background:$green-color;
            width:px2rem(50);
            height:px2rem(50);
            border-radius:50%;
            display:flex;
            align-items:center;
            justify-content:center;
            margin-right:px2rem(10);
        }
        .time{
            margin-right:px2rem(15);
        }
    }
}
.detail-list{
    padding:px2rem(15) px2rem(15) 0;
    @include font-dpr(13px);
    .row{
        display:flex;
        padding:px2rem(15) 0;
        .label{
            display: block;
            color:$color_b;
        }
        .text-field{
            display:block;
            flex:1.0;
            color:$color_c;
        }
    }
}
