@import '../../../common/style/comm';

.search{
    height:px2rem(80);
    background:#f4f4f4;
    
}

.outer-item{
    margin-bottom:px2rem(20);
    background:#fff;
}
.home-container{
    background:#f4f4f4;
}
.home-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top:px2rem(25);
    padding-bottom:px2rem(25);
    margin-bottom:px2rem(20);
    background:#fff;
    .item{
        display:flex;
        flex-direction:column;
        width:px2rem(124);
        height:px2rem(160);
        text-align: center;
        margin: px2rem(15) px2rem(50/2);
        text-decoration: none;
        color:$color_a;
        @include font-dpr(13px);
        .icon{
            display:block;
        }
        /*旧版*/
        .job-menu-icon{
            @include icon(94,94,$comm_dir+'images/job_menu_icon.png');
        }
        .resume-menu-icon{
            @include icon(94,94,$comm_dir+'images/resume_menu_icon.png');
        }
        .company-menu-icon{
            @include icon(94,94,$comm_dir+'images/company_menu_icon.png');
        }
        .train-menu-icon{
            @include icon(94,94,$comm_dir+'images/train_menu_icon.png');
        }
        .zizhi-menu-icon{
            @include icon(94,94,$comm_dir+'images/zizhi_menu_icon.png');
        }
        .news-menu-icon{
            @include icon(94,94,$comm_dir+'images/news_menu_icon.png');
        }
        /*旧版结束*/
        /*兼职菜单*/
        .zhengshu-lib-menu-icon{
            @include icon(88,88,$comm_dir+'images/zhengshu_icon.png');
        }
        .pingzheng-info-menu-icon{
            @include icon(88,88,$comm_dir+'images/pingzheng_icon.png');
        }
        .zhizi-menu-icon{
            @include icon(88,88,$comm_dir+'images/zhizi_icon.png');
        }
        .huang-page-menu-icon{
            @include icon(88,88,$comm_dir+'images/huang_icon.png');
        }
        .hangqing-menu-icon{
            @include icon(88,88,$comm_dir+'images/hangqing_icon.png');
        }
        .liezheng-menu-icon{
            @include icon(88,88,$comm_dir+'images/liengzheng_icon.png');
        }
        .peixun-menu-icon{
            @include icon(88,88,$comm_dir+'images/peixun_icon.png');
        }
        .tuiguang-menu-icon{
            @include icon(88,88,$comm_dir+'images/tuiguang_icon.png');
        }
        /*全职菜单*/
        .school-menu-icon{
            @include icon(88,88,$comm_dir+'images/school_icon.png');
        }
        .city-menu-icon{
            @include icon(88,88,$comm_dir+'images/city_icon.png');
        }
        .job-news-menu-icon{
            @include icon(88,88,$comm_dir+'images/jobnews_icon.png');
        }
        .quan-peixun-menu-icon{
            @include icon(88,88,$comm_dir+'images/quan_peixun_icon.png');
        }
        .guide-menu-icon{
            @include icon(88,88,$comm_dir+'images/guide_icon.png');
        }
    }
}

//热门职位
.hotJob-list,.news-list{
    .hotJob-item,.news-item{
        display:flex;
        padding:px2rem(20) 0;
        position: relative;
        .oneLevel-wrap{
            width:px2rem(140);
            color:$green-color;
            @include font-dpr(13px);
            padding-left:px2rem(20);
        }
        .rep{
            padding-right:px2rem(20);
        }
        .twoLevel-wrap{
            flex:1.0;
            position: relative;
            a{
                color:$color_a;
                text-decoration:none;
                margin-right:px2rem(20);
                @include font-dpr(13px);
            }
            .twoLevel-more{
                // position: absolute;
                // left:0;
                // right:0;
                margin-left:- px2rem(160);
                margin-top:px2rem(20);
                padding:px2rem(10);
                background:#eee;
                display: none;
                flex-wrap:wrap;
                &.show{
                    display:flex;
                }
                a{
                    margin:px2rem(10) px2rem(10);
                    display: block;
                }
            }
            &.more-btn:after{
                position:absolute;
                display: block;
                content:'';
                z-index: 1;
                @include icon(19,10,$comm_dir+'images/down_arrow_icon.png');
                background-size: px2rem(19);
                right:px2rem(60);
                //height:px2rem(68);
                // width:px2rem(80);
                top:px2rem(8);
                pointer-events:none;
            }
        }
    }
    .border-dashed{
        position: relative;
        &:after{
            height:1px;
            display:block;
            content:'';
            width:100%;
            position:absolute;
            bottom:0;
            transform:scaleY(.5);
            transform-origin:0 0;
            @include border-dashed($comm_dir+'images/dotted_icon.png');
        }
    }
    
}

.news-list{
    .news-item{
        a{
            text-decoration:none;
            color:$color_a;
            @include font-dpr(13px);
            display: block;
            padding:0 px2rem(20);
        }
    }
    .img{
        width:px2rem(160);
        height:px2rem(100);
        img{
            width:100%;
            height:100%;
            display: block;
            border:none;
        }
    }
    .right{
        flex:1.0;
        display: flex;
        flex-direction:column;
        min-width:0;
    }
    .right-top{
        display: flex;
        flex:1.0;
        .tit{
            display: block;
            flex:1.0;
            overflow: hidden;  
            text-overflow:ellipsis;//文本溢出显示省略号  
            white-space: nowrap;//文本不换行
        }
        .time{
            display: block;
            min-width:px2rem(100);
            text-align:right;
            
        }
    }
    .right-bottom{
        display: flex;
        flex:1.0;
        justify-content: flex-end;
    }
    .like-count{
        display: flex;
        align-items: center;
        margin-right:px2rem(15);
        .icon{
            
            @include icon(20,22,'../../../common/images/like_active_icon.png');
            margin-right:px2rem(5);
        }
    }
    .view-count{
        display: flex;
        align-items: center;
        .icon{
            
            @include icon(27,20,'../../../common/images/view_icon.png');
            margin-right:px2rem(5);
        }
    }
}

.more-news{
    display: flex;
    align-items:center;
    justify-content:center;
    width:px2rem(195);
    height:px2rem(54);
    background:$green-color;
    color:#fff;
    margin:0  auto;
    @include font-dpr(13px);
    text-decoration:none;

}
.more-news-wrap{
    padding:px2rem(28) 0;
}
//搜索类型
.search{
    display:flex;
    padding:0 px2rem(60);
    align-items:center;
    position: relative;
    .search-type{
      width:px2rem(128);
      height:px2rem(56);
      display: flex;
      align-items:center;
      margin-right:px2rem(10);
      position: static;   
      .type{
        display:block;
        flex:1.0;
        text-align:right;
        padding-right:px2rem(10);
      }
    }
    .search-key{
      flex:1.0;
      border-radius:px2rem(4);
      background:#fff;
      height:px2rem(56);
      input[type='text']{
        width:100%;
        display:block;
        height:100%;
        box-sizing: border-box;
        padding:0 px2rem(8);
        border:none;
        background:transparent;
      }
    }
    .search-btn{
      width:px2rem(90);
      height:px2rem(56);
      display: flex;
      align-items:center;
      margin-left:px2rem(10);
      .icon{
        @include icon(34,35,$comm_dir+'images/search_btn.png');
      }
    }
  }

.type-select{
    position: absolute;
    top:px2rem(80);
    // width: 100%;
    left:0;
    right:0;
    background:#fff;
    text-align:right;
    padding-right:px2rem(30);
    box-sizing: border-box;
    padding:0;
    display: none;
    z-index:10;
    color:$color_a;
    &.show{
        display:block;
        border-top:1px solid $color_c;
    }
    .option{
        display:flex;
        padding:0;
        height:px2rem(62);
        align-items:center;
        justify-content: center;
        border-bottom:1px solid $color_c;
    }
}
//全站首页
.all-home{
    .search{
        background: #fff;
        margin-bottom:px2rem(20);
        .search-key {
            position: relative;
            input[type=text]{
                background:#f4f4f4;
                padding-left: px2rem(40);

            }
            
        }
    }
   
}
.item-wrap{
    padding:0 px2rem(20);
}
.news-item{
    border-bottom:1px dotted #e7e7e7;
}
.search .search-key{
    position: relative;
    input[type=text]{
        padding-left: px2rem(40);
    }
    .search-icon{
        position: absolute;
        top:0;
        bottom:0;
        margin-top:auto;
        margin-bottom:auto;
        left:px2rem(10);
        @include icon(22,23,'../../../common/images/search_input_icon.png');
    }
}
//推荐人才列表
.person-list{
    .item{
        display:flex;
        padding:px2rem(20) 0;
        border-bottom:1px dotted #e7e7e7;
    }
    .right{
        flex:1.0;
        display:flex;
        flex-direction:column;
        padding-left:px2rem(20);
        color:$color_b;
        @include font-dpr(13px);
        .right-top{
            flex:1.0;
        }
        .right-bottom{
            flex:1.0;
        }
        .name{
            @include font-dpr(14px);
            text-decoration: none;
            color:$color_a;
            margin-right:px2rem(15);
        }
        .addr{
            margin-right:px2rem(15);
        }
    }
    .img{
        width:px2rem(120);
        height:px2rem(120);
        border-radius: 50%;
        overflow: hidden;
        border:1px solid #e7e7e7;
        img{
            display: block;
            width:100%;
            height:100%;
            border:none;
        }
    }
}