@import '../../../common/style/comm';
.login-wrap{
    padding:0 px2rem(80);
}
.userName-wrap{
    border-bottom:1px solid #e7e7e7;
    display: flex;
    padding:px2rem(10);
    .icon{
        @include icon(30,34,'../../../common/images/user_icon.png');
        margin-right:px2rem(20);
        
    }
    input{
        border:none;
        display:block;
        flex:1.0;
        padding-left:px2rem(20);
        height:px2rem(60);
        border-left:1px solid #e7e7e7;
    }
}
.password-wrap{
    border-bottom:1px solid #e7e7e7;
    display: flex;
    padding:px2rem(10);
    margin-top:px2rem(20);
    .icon{
        @include icon(30,37,'../../../common/images/password_icon.png');
        margin-right:px2rem(20);
    }
    input{
        border:none;
        display:block;
        flex:1.0;
        padding-left:px2rem(20);
        height:px2rem(60);
        border-left:1px solid #e7e7e7;
    }
}
.submit-btn{
    color:#fff;
    background:$green-color;
    display:block;
    border:none;
    text-align:center;
    padding:px2rem(25) 0;
    width:100%;
    @include font-dpr(18);
    letter-spacing: 8px;
    margin-top:px2rem(20);
    border-radius:4px;
}
.logo-link{
    display: inline-block;
}
.logo-wrap{
    text-align:center;
    margin:px2rem(80) 0;
}
.bottom-function{
    text-align:right;
    padding:px2rem(20) 0;
    a{
        text-decoration: none;
        color:$color_b;
        display:inline-block;
        vertical-align: middle;
        @include font-dpr(13px);
    }
    span{
        color:$color_c;
        display:inline-block;
        vertical-align: middle;
        margin:0 px2rem(20);
    }
}
.sub-wrap{
    margin-top:px2rem(40);
}